.App {
  text-align: center;
  background-color: black;
 }

.navbar {
  width: 100%;
  background-color: #80AB82;
  overflow: auto;
  display:flex;
  justify-content: space-around;
}

/* Navbar links */
.navbar a {
  display:flex;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 15px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: rgb(131, 187, 150);
}

/* Current/active navbar link */
.active {
  background-color: rgb(36, 206, 44);
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display:flex;
  }
}

.loginForm {
  width: 400px;
  margin: 100px auto 50px;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: left;
  background-color: #80AB82;
  border: 2px solid #773f1a;
  border-radius: 8px;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Bitter', serif;
}

.error {
  margin: -5px;
  position: absolute;
  color: #681A21;
  background-color: #919098;
  border-color: #919098;
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 10px;

}

h1 {
  font-size: 2rem;
  text-align: center;
  color: #546A7B;
}

input,
textarea {
  margin-top: 32px;
  padding: 0.5rem;
  font-size: 15px;
  width: 100%;
  max-width: 375px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.field {
  margin: 20px auto;
  
}
